@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Elementos de etiqueta */



footer{
    background-color: rgba(60, 35, 19, 1);
    color: white;
}

header{
    width: 100%;
}

/* Elementos de clase */

.banner{
    background-image: url('../img/bowl-and-pet-daities-on-green-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 620px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;
}

.barraSuperior{
    background-color: rgba(34, 34, 34, 1);
    color: rgba(243, 243, 243, 1);
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.box{
    background-color: rgba(251, 250, 246, 1);
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: relative;
}

.categoriasMenu{
    list-style-type: none;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.destacados{
    justify-items: center;
    align-items: center;
}

.fondoNaranja{
    background-color: rgba(240, 168, 62, 1);
    color: white;
    /* margin: auto; */
    position: relative;
}

.imagenLogo{
    position: relative;
    width: 166.38px;
    height: 23px;
    align-items: center;
}

.menuPrincipal{
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    justify-content: space-between;
}

.listadoInvisible{
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    padding-right: 30px;
}

.productos{
    display: flex;
    height: 1807px;
    flex-direction: column; 
    align-items: center;
}

/* Elementos de Id */

#tituloBanner{
    background-color: white;
}