*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --fondoNegro: rgba(34, 34, 34, 1);
    --letraBlanca: rgba(243, 243, 243, 1);
}

/* Selector de Etiqueta */

header{
    background-color: var(--fondoNegro);
    color: var(--letraBlanca);
    display: flex;
    justify-content: space-between;
}


/* Selector de clase */

.imagenLogo{
    padding: 10px;
}

.mainWeb{
    padding: 10px;
}

.nav{
    display: flex;
    align-items: center;
    position: relative;
}

.navBar{
    display: flex;
    padding: 20px;
}

.navBar_items{
    padding: 5px;
}