
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Roboto:wght@300&display=swap');

:root{
    --colorPrimario: #00669F;
    --colorSecundario: rgba(28, 209, 176, 1);
    --colorTerciario: rgba(243, 243, 243, 1);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Selector de etiqueta */

body{
    font-family: 'Roboto', sans-serif;
}

.batman{
    text-transform: uppercase;
}

/* Selector de clase */

.box{
    /* background-image: url(/img/fondoBatman.png); */
    background-color: var(--colorTerciario);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 292px 32px 202px;
    position: relative;
}

.descuento{
    background-color: var(--colorSecundario);
    height: 38px;
    position: sticky;
    top: 0px;
}

.descSuper{
    margin: auto;
    padding: 0px 10px;
}


.footer{
    background-color: var(--colorPrimario);
    color: white;
    padding: 16px;
}

.foto{
    /* padding-top: 126px; */
    width: 122px;
    height: 120px;
    border-radius: 100%;
    position: relative;
}

.titulo{
    background-color: var(--colorPrimario);
    height: 101px;
    font-size: 40px;
    padding: 28px;
}

.verMas{
    background-color: var(--colorPrimario);
    color: white;
    font-weight: bold;
    justify-self: center;
    position: relative;
    padding: 24.30px;
    margin-bottom: 10px;
}


/* Selector de id */

